.card .card-image {
  display: block;
  position: relative;
  min-height: 100px;
  width: 100%;
  max-width: 100%;
}

.media.stream-item img {
    max-width: none;
    height: auto;
    object-fit: cover;
}

/* Force all homepage section text to white */
.hero, .about, .interests, .education, .awards {
  color: white;
}

/* Ensure links are also white and underlined */
.hero a, .about a, .interests a, .education a, .awards a {
  color: white;
  text-decoration: underline;
}